* {
	margin: 0px;
	padding: 0;
	box-sizing: border-box;
}

:root {
	margin: 0px;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: black;
	color: white;
}

p {
color: #ffccf2;
}

h1 {
	color: #ff99e6;
	font-size: 50px;
}

/* Поле для навигации */
.navigation {
	position: fixed;
	left: 10px;
	top: 100px;
	text-align: center;
	border: 1px solid red;
	border-radius: 10px;
}

.navigation p {
	font-size: 20px;
	line-height: 40px;
	padding: 10px;
	background-color: red;
}

.borderUpper {
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.borderBottom {
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}

a {
	text-decoration: none;
}

a:hover {
	opacity: 0.9;
}

a:active {
	color: red;
	opacity: 0.8;
}

a:visited {
color: blue;
}

/* Верхняя картинка */
.firstImg {
	width: 100%;
	height: 100%;
}

img {
	height: 100%;
	width: 100%;
	/* animation: Appearance; */
	animation-duration: 3s;
	animation-timing-function: cubic-bezier(.1, -.6, .2, 0);
}

/* Анимация к верхней картинке */
@-webkit-keyframes Appearance {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-o-keyframes Appearance {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/* Анимация для появления навигации справа */
.navigation {
	/* animation: Appearance1; */
	animation-duration: 6s;
	animation-timing-function: cubic-bezier(.1, -.6, .2, 0);
}

@-webkit-keyframes Appearance1 {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-o-keyframes Appearance1 {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/* Фрейм обо мне */
.about {
	width: 80%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

.about>div {
	float: left;
	width: 50%;
	padding: 15px;
}

.about>div p {
	padding-top: 50px;
	padding-left: 20px;
}

.abouttext {
	margin-top: 50px;
}